* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Poppins, sans-serif;
}

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #111;
    font-size: 30;
}

/* Navbar */
.navbar {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.nav-container {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 25px;
    color: #444;
}

.nav-links a:hover {
    color: #111;
}

.nav-links i {
    font-size: 18px;
}
