* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Poppins, sans-serif;
}

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #111;
    font-size: 30;
}

/* Navbar */
.navbar {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.nav-container {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 25px;
    color: #444;
}

.nav-links a:hover {
    color: #111;
}

.nav-links i {
    font-size: 18px;
}

/* Intro Section */

.intro-header {
    max-width: 1000px;   
    margin: 0 auto;      
    padding-left: 16px;  
    padding-top: 1rem;   
}

.intro-container {
    max-width: 1000px;   
    margin: 0 auto;      
    padding-left: 16px;  
    padding-top: 1rem;   
    display: flex;
}

.headshot-image {
    width: 20rem;
    border-radius: 10%;
    height: auto;
    display: block;      
}

.intro-text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-left: 2rem;
    margin-top: 2rem;
}